.greet-screen {
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background-image: url("img/backgr_cover.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

#greet-menu {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    width: 400px;
    height: 300px;
    margin: auto;
}

#greet-menu ul {
    margin: 0;
    list-style-type: none;
    text-align: center;
    position: absolute;
    top: 50%;
    left: 20px;
    right: 20px;
    padding: 20px;
    transform: translateY(-50%);
}

#greet-menu ul li a {
    text-decoration: none;
    font-family: Oswald, sans-serif;
    font-size: 2.5em;
    font-weight: bold;
    color: #6A553C;
    text-shadow: #FFF 0px 0px 5px,
    #FFF 0px 0px 10px,
    #FFF 0px 0px 15px,
    #5D8AA8 0px 0px 20px,
    #5D8AA8 0px 0px 30px,
    #5D8AA8 0px 0px 40px,
    #5D8AA8 0px 0px 50px,
    #5D8AA8 0px 0px 75px;
}

.rules {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    width: 400px;
    height: 300px;
    margin: auto;
    padding: 15px;
    background-color: #8093A0;
    border-radius: 5px;
    box-shadow: #FFF 0px 0px 5px,
    #FFF 0px 0px 10px,
    #FFF 0px 0px 15px,
    #5D8AA8 0px 0px 20px,
    #5D8AA8 0px 0px 30px,
    #5D8AA8 0px 0px 40px,
    #5D8AA8 0px 0px 50px,
    #5D8AA8 0px 0px 75px;
}

.rules h2 {
    text-align: center;
    color: white;
}

.rules p {
    font-size: 18px;
    text-align: justify;
}